venv
__pycache__/
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
node_modules/
dist/
build/
*.egg-info/
*.egg
*.bak
*.tmp
*.orig
*.coverage
coverage.xml
htmlcov/
*.db
*.tar.gz
*.zip
*.egg-info/
pip-wheel-metadata/
site/
*.env
*.env.*
!.env.example